---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Sobre mí">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Soy Ismael Treviño, desarrollador Full-Stack de España.
        <br />
        Mis principales tecnologías incluyen:
      </p>
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>Node.js</li>
        <li>Astro</li>
        <li>PHP</li>
        <li>Python</li>
        <li>Docker</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Además de programar, me encanta experimentar con Raspberry Pi y montar mis
      propios servidores caseros. Cuando estoy creativo, disfruto explorando
      páginas web inspiradoras, practicando fotografía o editando videos
      grabados con mi dron.
    </p>
    <p class="text-sm font-light">
      Aunque tengo mis tecnologías favoritas, siempre estoy dispuesto a aprender
      algo nuevo.
    </p>
  </div>
</Card>
